# Compiled output
/dist
/node_modules

# Environment variables
.env

# Uploads and user data
/uploads

# OS files
.DS_Store
Thumbs.db

# Android/Capacitor temporary files
/android/app/build
/android/.gradle
/android/local.properties
/android/app/src/main/assets/public
/android/app/src/main/assets/capacitor.config.json
